* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

.header-section {
    background-color: rgb(15, 27, 73);
    margin-bottom: 25px;
    padding: 15px 10px 5px 5px;
}

.search-section {
    /* padding: 10px; */
    line-height: 2;
}

.btn {
    background-color: rgb(15, 27, 73);
    color: rgb(255, 255, 255);
}

#current-weather {
    /* background-color: rgb(15, 27, 73); */
    border: 2px solid black;
    border-radius: 20px;
    margin-bottom: 20px;
    padding:10px;
    width: 90%;
    color: rgb(0, 0, 0);
}

.five-day-forecast-card {
    background-color: rgb(15, 27, 73);
    border-radius: 10px;
    margin: 2px;
    padding: 5px;
    width: 20%;
    line-height: 1.5;
    font-size:x-small;
    color: rgb(255, 255, 255);
}

.future-date {
    font-size:x-small;
    color: white;
}